{%- comment -%} {% render 'button-hover',
  content: "login",
  cl: "#000",
  clh: "#fff",
  bg: "#fff",
  bgh: "#999",
  bd: "#999"
%} {%- endcomment -%}

  <div class="custom-btn-hv">
    {% if submit %}
      <button type="submit">
        {{ content }}
      </button>
      {% else %}
      <button>
        {{ content }}
      </button>
    {% endif %}
  </div>
{% if type == "black" %}
    {% assign color_bt = "#000" %}
    {% assign color_tx = "#fff" %}
    {% assign color_bg = "#000" %}
{% else %}
    {% assign color_bt = "red" %}
    {% assign color_bg = "transparent" %}
    {% assign color_tx = "rgba(0, 0, 0, 0.5)" %}
{% endif %}

   {% style %}
   .custom-btn-hv{
    display:inline-block;
    border:2px solid transparent;
    transition: all 0.5s;
   }
   .custom-btn-hv button {
    margin: 5px;
    font-weight:600;
    text-transform:uppercase;
    height:50px;
    color:{{ cl }};
    border:0.5px solid {{ bd }};
    background:{{ bg }};
   }
   .custom-btn-hv:hover{
    border:2px solid {{ bd }};
    display:inline-block;
    animation: show 0.5s ease-out normal;
   }
   .custom-btn-hv:hover button{
    border:2px solid {{ bd }};
    display:inline-block;
    background:{{ bgh }};
    color:{{ clh }};
   }
   .custom-btn-hv button:before,
   .custom-btn-hv button:after{
    content:none
   }
   

    @keyframes show{
          from{
            transform:scale(0.8);
          }
          to{
            transform: scale(1);
          }
        }
   {% endstyle %}