
<div class="custom-bnt-hv">
    <div>
     <a href="#">{{ content }}</a>
    </div>
</div>
{% if type == "black" %}
    {% assign color_bt = "#000" %}
    {% assign color_tx = "#fff" %}
    {% assign color_bg = "#000" %}
{% else %}
    {% assign color_bt = "#fff" %}
    {% assign color_bg = "transparent" %}
    {% assign color_tx = "rgba(0, 0, 0, 0.5)" %}
{% endif %}

   {% style %}
      .custom-bnt-hv {
       margin: 2px 0;
        color:{{ color_bt }};
        display: block;
        
      }
    
      .custom-bnt-hv > div {
      font-size: var(--font-text-13);
      text-transform: uppercase;
      font-weight: var(--font-text-semibold);
      margin: 5px;
      padding: 10px 20px;
      border:1px solid {{ color_bt }};
      background:{{ color_bg }}
    }
    .custom-bnt-hv > div a {
      text-decoration: none;
      color:{{ color_tx }};
    }
    .custom-bnt-hv:hover {
      border:2px solid {{ color_bt }};
      margin: 0;
      animation: show 0.5s ease-out normal;
    }
    .custom-bnt-hv:hover > div,
    .custom-bnt-hv:hover > div a{
      background: {{ color_bt }};
      color: {{color_tx}};
    
    }

    @keyframes show{
          from{
            transform:scale(0.8);
          }
          to{
            transform: scale(1);
          }
        }
   {% endstyle %}