{% comment %}
    {% render 'head-menu-drop', link: link %}
{% endcomment %}
{% if link.title == "FEATURES" %}
    {% render 'ticker',content:'HOT!',color:'#CD0004' %}
{% endif %}

<a href="#" class="head-menu__desktop-item">{{ link.title | upcase }}</a>
<input type="checkbox" id="showMenuDrop{{ forloop.index }}" class="showMenuDrop"/>
<label for="showMenuDrop{{ forloop.index }}" class="head-menu__mobile-item">{{ link.title | upcase }}</label>
<ul class="head-menu__drop head-menu__shadown">
    {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
    {%- endfor -%}
  </ul>