{{ 'announcament-bar.css' | asset_url | stylesheet_tag }}
<i class="icon_phone"></i>
<div class="page-width">
    <div class="announcement-container row" style="">
      <div class="col-sm-6 col-md-6 col-12"  >
        <div class="announcement__left">
            <div class="announcement__left-item">
              <span class="announcement__wrap-icon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span>
                <p>Call Us:</p>
              </span>
              <span class="weight">
                <p>{{ section.settings.phone }}</p>
              </span>
              <span class="line-right">t</span>
            </div>
            <div class="announcement__left-item">
              <span class="announcement__wrap-icon">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <span>
                <p>Email:</p>
              </span>
              <span>
                <p>{{ section.settings.email }}</p>
              </span>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-12">
        <div class="announcement__right">
         <div class="announcement__right-items">
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <span class="announcement__wrap-icon">
                  {% render 'icon-icon', type: 'lock', size: 18 %}
                </span>
                <a class="text_link" href="{{ routes.account_logout_url }}">Log out</a>
                {% else %}
                <span class="announcement__wrap-icon">
                  {% render 'icon-icon', type: 'unlock', size: 18 %}
                </span>
                <a  class="text_link" href="{{ routes.account_login_url}}">Log In</a>
              {% endif %}
            {% endif %}
          </div>
          <div class="line-right">t</div>
          <div class="announcement__right-items custom-select">
            <select class="custom-select-none">
              <option value="GBP">🇬🇧  English</option>
              <option value="USD">🇺🇸  VN</option>
              <option value="EUR">🇪🇺  Russia</option>
            </select>
          </div>
          <div class="line-right">t</div>
          <div class="announcement__right-items custom-select">
            <select class="">
              <option value="EUR">USD</option>
              <option value="GBP">YEN</option>
              <option value="USD">VND</option>
            </select>
          </div>
        </div>
      </div>
    </div>
</div>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings":[
    {
      "type":"text",
      "id":"phone",
      "label":"Phone number",
      "default":"0123456789"
    },
    {
      "type":"text",
      "id":"email",
      "label":"Email",
      "default":"example.gmail.com"
    }
  ]
}
{% endschema %}
