{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="page-width custom-announcement announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- comment -%} {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h5">
                {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%} {%- endcomment -%}
          <div class="row">
            <div class="col-sm-6 col-md-6 col-12">
              <div class="announcement__left">
                  <div class="items">
                    <span class="wrap-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 28 28" class="iconify iconify--fluent"><path fill="currentColor" d="m7.85 2.703l1.937-.584a2.75 2.75 0 0 1 3.301 1.506l1.358 3.02a2.75 2.75 0 0 1-.633 3.14l-2.067 1.926c-.277.263-.067 1.288.945 3.042c1.013 1.755 1.796 2.449 2.157 2.341l2.708-.828a2.75 2.75 0 0 1 3.034 1.02l1.93 2.675a2.75 2.75 0 0 1-.339 3.606l-1.492 1.413a3.75 3.75 0 0 1-3.676.863c-3.126-.957-6.021-3.797-8.724-8.48C5.58 12.673 4.557 8.717 5.27 5.485a3.75 3.75 0 0 1 2.58-2.782Z"></path></svg>
                    </span>
                    <span>Call Us:</span>
                    <span>0988888888</span>
                  </div>
                  <div class="items">
                    <span class="wrap-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36" class="iconify iconify--clarity"><path fill="currentColor" d="M32.33 6a2 2 0 0 0-.41 0h-28a2 2 0 0 0-.53.08l14.45 14.39Z" class="clr-i-solid clr-i-solid-path-1"></path><path fill="currentColor" d="m33.81 7.39l-14.56 14.5a2 2 0 0 1-2.82 0L2 7.5a2 2 0 0 0-.07.5v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-.12-.61ZM5.3 28H3.91v-1.43l7.27-7.21l1.41 1.41Zm26.61 0h-1.4l-7.29-7.23l1.41-1.41l7.27 7.21Z" class="clr-i-solid clr-i-solid-path-2"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
                    </span>
                    <span>Email:</span>
                    <span>example@gmail.com</span>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-12">
              <div class="announcement__right">
                <div class="right__items">
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <span class="wrap-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify iconify--bxs"><path fill="currentColor" d="M18 10H9V7c0-1.654 1.346-3 3-3s3 1.346 3 3h2c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zm-7.939 5.499A2.002 2.002 0 0 1 14 16a1.99 1.99 0 0 1-1 1.723V20h-2v-2.277a1.992 1.992 0 0 1-.939-2.224z"></path></svg>
                      </span>
                      <a class="text_link" href="{{ routes.account_logout_url }}">Log out</a>
                      {% else %}
                      <span class="wrap-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify iconify--bxs"><path fill="currentColor" d="M12 2C9.243 2 7 4.243 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7zm4 10.723V20h-2v-2.277a1.993 1.993 0 0 1 .567-3.677A2.001 2.001 0 0 1 14 16a1.99 1.99 0 0 1-1 1.723z"></path></svg>
                      </span>
                      <a  class="text_link" href="{{ routes.account_login_url}}">Log in</a>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="right__items">
                  <select class="custom-select-none" style="padding-left:10px ;margin-right: px;border:0; font-size:13px">
                    <option value="EUR"><p>USD</p></option>
                    <option value="GBP">YEN</option>
                    <option value="USD">VND</option>
                  </select>
                </div>
                <div class="right__items">
                  <select class="custom-select-none" style="padding-left:10px ; font-size:13px;border:0">
                    <option value="GBP">🇬🇧 English</option>
                    <option value="USD">🇺🇸 VN</option>
                    <option value="EUR">🇪🇺 Russia</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% style %}
  .custom-announcement .announcement__left{
    font-size:14px;
    display:flex
  } 
  .custom-announcement .row {
    padding:5px 0px
  }

  .custom-announcement .items,
  .custom-announcement .right__items{
    display:flex;
    align-items:center
  }
  .custom-announcement .items .wrap-icon,
  .custom-announcement .right__items .wrap-icon
  {
    display:flex; 
    justify-content:center;
    align-items:center; 
    margin-right:5px
  }
  .custom-announcement .announcement__left .items:first-child{
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #999
  }
  .custom-announcement .announcement__left .items span:nth-child(2) {
    color:#999
  }
  .custom-announcement .announcement__right{
    display:flex; 
    justify-content:flex-end;
    align-items:center;
    font-size:14px;
    height:100%;
  }

  .custom-announcement .announcement__right a {
    color:#000;
   
  }
  .custom-announcement .right__items:first-child,
  .custom-announcement .right__items:nth-child(2){
    border-right:1px solid #999;
    height:80%;
    padding-right:10px;
  }

  @media screen and (max-width: 768px) {
    .custom-announcement .announcement__right{
      justify-content:start;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
