{% assign number_column = section.settings.number_column %}
{% case number_column %}
    {% when 2 %}
        {% assign row = "flex-container-2" %}
    {% when 3 %}
        {% assign row = "flex-container-3" %}
    {% when 4 %}
        {% assign row = "flex-container-4" %}
    {% else %}
        {% assign row = "flex-container-5" %}
{% endcase %}

<div class="list-card-line-container">
    <div class="{{row}}">
        {% for block in section.blocks %}
            {% assign items = block.settings %}
            <div style="padding:0 {{ section.settings.padding_card }}px; ">
                {%- comment -%} content {%- endcomment -%}
                    <div class="container-content-card" style="background: pink;border:2px solid red; ">
                        <img src="{{block.settings.image | img_url:'large'}}" loading="lazy" width="auto" height="auto" style="width:100%; height:100%"/>
                        {%- comment -%} <div class="wrap-text-card" >
                            <h4 class="text_white uppercase">{{ items.heading }}</h4>
                            <h1 class="text_white uppercase">{{ items.title }}</h1>
                            <p class="text_white">{{ items.content }}</p>
                            <a href="#" class="text_link custom-button uppercase">{{ items.text_button }}</a>
                        </div> {%- endcomment -%}
                    </div>
                {%- comment -%} endcontent {%- endcomment -%}
            </div>
        {% endfor %}
    </div>
</div>
<div>
    <img src="https://cdn.shopify.com/s/files/1/0583/4309/6343/files/shirt-21_large.jpg?v=1666780707" style="height: 300px; width:200px"/>
</div>
{% schema %}
{
    "name": "Card line custom",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_card",
            "label": "Padding card",
            "default":0,
            "min":0,
            "max":50
        },
        {
            "type": "range",
            "id": "number_column",
            "label": "Number of columns on desktop",
            "default":3,
            "min":2,
            "max":5
        }
    ],
    "blocks":[
        {
            "type":"card",
            "name":"Card",
            "limit":5,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default":"Mens shop"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default":"Title"
                },
                {
                    "type": "text",
                    "id": "content",
                    "label": "Content",
                    "default":"Content"
                },
                {
                    "type": "text",
                    "id": "text_button",
                    "label": "Button content",
                    "default":"Button content"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button url"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"Card line 1",
            "name":"Card line custom",
            "blocks": [
                {
                "type": "card"
                },
                {
                "type": "card"
                },
                {
                "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}