<div class="list-text-icon-container">
    <div class="page-width">
        <div class="row">
            {% for block in section.blocks %}
                {% assign items = block.settings %}
                <div class="col" style="padding:0 {{ section.settings.padding_card }}px; ">
                    {%- comment -%} content {%- endcomment -%}
                        <div class="list-text-icon__content">
                         
                            {% if items.image != blank%}
                                <div class="wrap-img" style="height:{{items.size_img}}px">
                                    <img src="{{items.image | img_url: 'large'}}" loading="lazy" height="100%" width="100%"/>
                                </div>
                            {% elsif items %}
                                <div>
                                    {{items.icon_svg}}
                                </div>
                            {% else %}
                                {% render 'icon-accordion', icon: 'map_pin' %}
                            {% endif %}
                                <h2 class="text_black uppercase">{{ items.title }}</h2>
                                <h4 class="text_black">{{ items.description }}</h4>
                          
                        </div>
                    {%- comment -%} endcontent {%- endcomment -%}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Card text icon",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_card",
            "label": "Padding card",
            "default":0,
            "min":0,
            "max":50
        },
        {
            "type": "range",
            "id": "number_column",
            "label": "Number of columns on desktop",
            "default":3,
            "min":2,
            "max":5
        }
    ],
    "blocks":[
        {
            "type":"card",
            "name":"Card",
            "limit":3,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type": "range",
                    "id": "size_img",
                    "label": "Size img",
                    "default":10,
                    "min":5,
                    "max":100
                },
                {
                    "type":"liquid",
                    "id":"icon_svg",
                    "label":"Icon_svg"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default":"Title"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default":"Description"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"Card line 1",
            "name":"Card text icon",
            "blocks": [
                {
                "type": "card"
                },
                {
                "type": "card"
                },
                {
                "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}