

<div class="container-text-button-img page-width">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when "text" %}
                    {% assign text_styles = "{{block.settings.style}};font-size:{{block.settings.font_size}}px" %}
                    <div style="{% text_styles %}">{{ block.settings.text }}</div>
                {% when "button" %}
                    <a style="background:#fff" class="custom_btn" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                {% when "custom_space" %}
                    <div style="margin:{{block.settings.custom_space}}px ;opacity:0">T</div>
                {% when "icon_space" %}
                    <div style="margin:{{block.settings.custom_space}}px">
                       {% render 'custom-icon' %}
                    </div>
                {% else %}
                {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'large' }}" height="auto" width="auto" loading="lazy" style="width:{{ block.settings.width_img }}% ;"/>
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                {% endif %}
                   
            {% endcase %}
        {% endfor %}
</div>

{% style %}
    .container-text-button-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align:center;
}
    .container-text-button-img h1,
    .container-text-button-img h2,
    .container-text-button-img h3,
    .container-text-button-img h4,
    .container-text-button-img h5 {
        margin: 0;
    }
{% endstyle %}

{% schema %}
{
    "name":"Text Button Image",
    "tag":"section",
    "settings":[

    ],
    "blocks": [
        {
            "type":"text",
            "name":"Text",
            "settings":[
                {
                    "type":"richtext",
                    "id":"text",
                    "label":"Text",
                    "default":"<p>This is text</p>"
                },
                {
                    "type":"range",
                    "id":"font_size",
                    "label":"Font size",
                    "default":14,
                    "min":8,
                    "max":32
                },
                {
                    "type":"text",
                    "id":"style",
                    "label":"Style"
                }
            ]
        },
        {
            "type":"image",
            "name":"Image",
            "settings":[
                {
                    "type":"range",
                    "id":"width_img",
                    "label":"Width image",
                    "default":2,
                    "min":1,
                    "max":100
                },
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                }
            ]
        },
        {
            "type":"button",
            "name":"Button",
            "settings":[
                {
                    "type":"text",
                    "id":"button_text",
                    "label":"Button content",
                    "default":"Click me"
                },
                {
                    "type":"url",
                    "id":"button_url",
                    "label":"Button url"
                }
            ]
        },
        {
            "type":"custom_space",
            "name":"Custom space",
            "settings":[
                {
                    "type":"range",
                    "id":"custom_space",
                    "label":"Space",
                    "default":20,
                    "min":2,
                    "max":50
                }
            ]
        },
        {
            "type":"icon_space",
            "name":"Icon space",
            "settings":[
                {
                    "type":"range",
                    "id":"custom_liquid",
                    "label":"Custom liquid",
                    "default":20,
                    "min":2,
                    "max":50
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Text Button Image"
        }
    ]
}
{% endschema %}