<div class="list-card-container">
    <div class="flex_container">
        {% for block in section.blocks %}
            {% assign items = block.settings %}
            <div style="flex-grow: 1;padding:0 {{ section.settings.padding_card }}px;">
                {%- comment -%} content {%- endcomment -%}
                    <div class="wrap-card-image-container">
                        <div class="overlay">T</div>
                        <img src="{{block.settings.image | img_url:'large'}}" loading="lazy" width="auto" height="auto"/>
                        <div class="wrap-text-card" >
                            <h4 class="text_white uppercase">{{ items.heading }}</h4>
                            <h1 class="text_white uppercase">{{ items.title }}</h1>
                            <p class="text_white">{{ items.content }}</p>
                            <a href="#" class="text_link custom-button uppercase">{{ items.text_button }}</a>
                        </div>
                    </div>
                {%- comment -%} endcontent {%- endcomment -%}
            </div>
        {% endfor %}
    </div>
</div>

{% style %}
.list-card-container{
    height: 100%;
}
.list-card-container .wrap-card-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    color: var(--color-transparent);
    background: var(--color-black);
    opacity: 0.5;
    position: absolute;
    display: none;
}
.list-card-container .wrap-card-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.list-card-container .wrap-card-image-container .wrap-text-card{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 0 30px;
   
}
.list-card-container .wrap-card-image-container:hover .overlay,
.list-card-container .wrap-card-image-container:hover .wrap-text-card {
    display: block;
}
.list-card-container .wrap-card-image-container .wrap-text-card h4 {
    font-size: 15px;
    letter-spacing:3px;
    margin-bottom:40px;
    opacity:70%;
    font-weight:500
} 
.list-card-container .wrap-card-image-container .wrap-text-card h1 {
    margin-bottom: 0px;
    font-weight:700;
    color:#f2f2f2
} 
.list-card-container .wrap-card-image-container .wrap-text-card p {
    margin-top: 10px;
    font-size:13px;
    margin-bottom: 40px;
    color:#f2f2f2
} 
.list-card-container .custom-button {
    padding:13px 25px ;
    background: transparent;
    font-size: 14px;
    border: 1px solid var(--color-white-border);
    color:var(--color-white-button)
}
.list-card-container .custom-button:hover {
    border: 1px solid var(--color-black-border);
    color:var(--color-black-button)
}

@media screen and (max-width:1670px) {
    .list-card-container .wrap-card-image-container img {
       
    }
}
{% endstyle %}

{% schema %}
{
    "name": "Card line",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_card",
            "label": "Padding card",
            "default":0,
            "min":0,
            "max":50
        }
    ],
    "blocks":[
        {
            "type":"card",
            "name":"Card",
            "limit":5,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default":"Mens shop"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default":"Title"
                },
                {
                    "type": "text",
                    "id": "content",
                    "label": "Content",
                    "default":"Content"
                },
                {
                    "type": "text",
                    "id": "text_button",
                    "label": "Button content",
                    "default":"Button content"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button url"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"Card line 1",
            "name":"Card line",
            "blocks": [
                {
                "type": "card"
                },
                {
                "type": "card"
                },
                {
                "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}