<div class="container-text-button-img">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when "text" %}
                    <div>{{ block.settings.text_liquid }}</div>
                {% when "button" %}
                    <a style="padding:13px 20px; background:#fff" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                {% when "custom_liquid" %}
                    <div style="margin:{{block.settings.custom_liquid}}px ;opacity:0">T</div>
              
                {% when "icon_space" %}
                    <div class="custom-icon-space" style="margin:{{block.settings.custom_liquid}}px">
                        - - -
                        <div class="circle">T</div>
                        -
                        <div class="circle">T</div>
                        - - -
                    </div>
                {% else %}
                {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'large' }}" height="auto" width="auto" loading="lazy" style="width:{{ block.settings.width_img }}% ;"/>
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                {% endif %}
                   
            {% endcase %}
        {% endfor %}
</div>

{% style %}
    .container-text-button-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align:center;
}
    .container-text-button-img h1,
    .container-text-button-img h2,
    .container-text-button-img h3,
    .container-text-button-img h4,
    .container-text-button-img h5 {
        margin: 0;
    }
{% endstyle %}

{% schema %}
{
    "name":"Text Button Image",
    "tag":"section",
    "blocks": [
        {
            "type":"text",
            "name":"Text",
            "settings":[
                {
                    "type":"liquid",
                    "id":"text_liquid",
                    "label":"Text",
                    "default":"<p>This is text</p>"
                }
            ]
        },
        {
            "type":"image",
            "name":"Image",
            "settings":[
                {
                    "type":"range",
                    "id":"width_img",
                    "label":"Width image",
                    "default":2,
                    "min":1,
                    "max":100
                },
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                }
            ]
        },
        {
            "type":"button",
            "name":"Button",
            "settings":[
                {
                    "type":"text",
                    "id":"button_text",
                    "label":"Button content",
                    "default":"Click me"
                },
                {
                    "type":"url",
                    "id":"button_url",
                    "label":"Button url"
                }
            ]
        },
        {
            "type":"custom_liquid",
            "name":"Custom liquid",
            "settings":[
                {
                    "type":"range",
                    "id":"custom_liquid",
                    "label":"Custom liquid",
                    "default":20,
                    "min":2,
                    "max":50
                }
            ]
        },
        {
            "type":"icon_space",
            "name":"Icon space",
            "settings":[
                {
                    "type":"range",
                    "id":"custom_liquid",
                    "label":"Custom liquid",
                    "default":20,
                    "min":2,
                    "max":50
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Text Button Image"
        }
    ]
}
{% endschema %}