{% case section.settings.type_img %}
    {% when "default" %}
        {% assign size-image = "s-img-banner__img-default" %}
    {% when "small" %}
        {% assign size-image = "s-img-banner__img-small" %}
    {% when "medium" %}
        {% assign size-image = "s-img-banner__img-medium" %}
    {% else %}
        {% assign size-image = "s-img-banner__img-large" %}
{% endcase %}

<div class="s-img-banner">
    <div class="{{ size-image }}" >
        {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: 'grande'}}" width="auto" height="auto" loading="lazy" class="s-img-banner__img"/>
        {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 's-img-banner__img' }}
        {% endif %}
    </div>
    
    <div class="s-img-banner__content">
        {% for block in section.blocks %}
           {% case block.type %}
            {% when "heading" %}
                <div class="s-img-banner__content-heading">{{ block.settings.heading }}</div>
            {% else %}
                <div>{{ block.settings.text }}</div>
           {% endcase %}
        {% endfor %}
        {%render 'breadcrumbs'%}
    </div>
</div>

{% style %}
    .s-img-banner {
        position:relative
    }
    .s-img-banner__img{
        object-fit: cover;
        width:100%;
        height:100%;
    }
    .s-img-banner__img-default{
        width:100%;
        height: auto;
    }
    .s-img-banner__img-small{
        width:100%;
        height: 30rem;
    }
    .s-img-banner__img-medium{
        width:100%;
        height: 34rem;
    }
    .s-img-banner__img-large{
        width:100%;
        height: 39rem;
    }

    .s-img-banner__content{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        color:#fff;
    }
    .s-img-banner__content-heading {
        font-size:24px;
        font-weight:600;
        text-transform:uppercase
    }
{% endstyle %}
{% schema %}
{
    "name":"Section image banner",
    "tag":"section",
    "settings":[
        {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
        },
        {
            "type":"select",
            "label":"Type image",
            "id":"type_img",
            "default":"default",
            "options":[
                {
                    "value":"default",
                    "label":"Default"
                },
                {
                    "value":"small",
                    "label":"Small"
                },
                {
                    "value":"medium",
                    "label":"Medium"
                },
                {
                    "value":"large",
                    "label":"Large"
                }

            ]
        }

    ],
    "blocks":[
        {
            "type":"heading",
            "name":"Heading",
            "settings":[
                {
                    "type":"text",
                    "id":"heading",
                    "label":"Heading",
                    "default":"This is heading"
                }
            ]
        },
        {
            "type":"text",
            "name":"Text",
            "settings":[
                {
                    "type":"richtext",
                    "id":"text",
                    "label":"Text",
                    "default":"<p>This is text</p>"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Section image banner"
        }
    ]
}
{% endschema %}